.globalTabBar{
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
}

.childArea{
    overflow-x: hidden;
    overflow-y: auto;

    .everyProduct{
        width: 43%;
        margin: 5% 0 0 5%;
        height: 300px;
        border: 1px green dotted;
        padding: 0.1rem;
    }

    .tabItem{
        padding-bottom: 5%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // justify-content: center;
        background-color: #fff;
    }

   
}

.wechatMy{
    .portraitArea{
        &>div:first-child{
            flex: 0.5 1 10%;
        }
        .portrait{
            width: 180px;
            height: 180px;
        }

        &>div:last-child{
            line-height: 1.8;
        }
        .nickName{
            font-size: 0.3rem;
            font-weight: bold;
        }
        .memberCode{
            color: #979797;
            font-size: 0.2rem;
        }
    }
    
}