#wechat{
    .globalTabBar{
        position: fixed;
        height: 100px;
        width: 100%;
        bottom: 0;
    }

    .childArea{
        overflow-x: hidden;
        overflow-y: auto;;
        .everyProduct{
            width: 43%;
            margin: 15px 0 0 5%;
            //height: 350px;
            padding: 0.1rem;
        

            & .productImgArea{
                width: 100%;
                padding-bottom: 100%;
                background-size: cover;
                border: 1px solid pink;
                overflow: hidden;
            }

            & .productDescription{
                width: 100%;
                text-align: center;
                margin-top: 3px;
                
            }

            .productPrice{
            }

        
        }

        

        .tabItem{
            padding-bottom: 15px;
            display: flex;
            // align-items: center;
            flex-wrap: wrap;
            // justify-content: center;
            background-color: #fff;
            min-height: 200px;
            &:after{
                clear: both;
                content: '.';
                height: 0;
                visibility: hidden;
                display: block;
            }
        }

    
    }

    .wechatMy{
        .portraitArea{
            &>div:first-child{
                flex: 0.5 1 10%;
            }
            .portrait{
                width: 180px;
                height: 180px;
            }

            &>div:last-child{
                line-height: 1.8;
            }
            .nickName{
                font-size: 0.3rem;
                font-weight: bold;
            }
            .memberCode{
                color: #979797;
                font-size: 0.2rem;
            }
        }
        
    }


    .noOrder{
        width: 100%;
        text-align: center;
        padding-top: 0.5rem;

        & img{
            width: 160px;
            height: 270px;
        }

        &>div:last-child{
            padding-top: 0.5rem;
        }
    }



    .productDetailArea{
        &>div{
            padding: 3px 3px 4px 0;
            text-align: left;

            &:first-child{
                font-weight: bold;
            }

            &:nth-child(2){
                font-size: 0.35rem;
                color: #ff5b05;
            }
        }
    }

    .productDescriptArea{
        margin-top: 5px;
        border-top: 1px solid #e5e5e5;
        text-align: left;
        font-size: 0.25rem;
    }

    .wechatCart{
        .rowStyle .stepperContainer{
            display: '-webkit-box';
            display: flex;
            align-items:center;
            flex-wrap: nowrap;
            &>div:first-child{
                flex-grow:4;
            }

            &>div:nth-child(2){
                flex-grow:4;
            }

            &>div:nth-child(3){
                flex-grow:1;
                text-align: center;
            }
        }
    }

    .historyOrderRow{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px;
        width: 100%;
        &>div{
            &:first-child{
                flex-grow: 2;
            }

            &:last-child{
                flex-grow: 1;
                text-align: right;
            }

            &>div{
                &:first-child{
                    font-size: 0.28rem;
                }

                &:last-child{
                    font-size: 0.22rem;
                }
            }
        }
    }
    
    @ticketPadding: 15px;
    .everyTicket{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        flex-wrap: nowrap;
        width: 100%;
        &>div{
            height: 225px;
            padding: 10px;
            &:nth-child(1){
                flex-grow: 1;
                justify-content:center;
                background: -webkit-linear-gradient(left, #ffa058 , #ff6867); /* Safari 5.1 - 6.0 */
                background: -o-linear-gradient(right, #ffa058 , #ff6867); /* Opera 11.1 - 12.0 */
                background: -moz-linear-gradient(right, #ffa058 , #ff6867); /* Firefox 3.6 - 15 */
                background: linear-gradient(to right, #ffa058 , #ff6867); /* 标准的语法 */
                border-top-left-radius: @ticketPadding;
                border-bottom-left-radius: @ticketPadding;
                font-weight: bold;
                font-size: 0.4rem;
                display: flex;
                align-items: center;
                color: #fff;
            }
            &:nth-child(2){
                flex-grow: 2;
                background-color: #fff;
                border-top-right-radius: @ticketPadding;
                border-bottom-right-radius: @ticketPadding;
                font-size: 0.2rem;
                letter-spacing: 0px;
                display: flex;
                align-items: center;
            }
            &:nth-child(3){
                flex-grow: 1;
                background-color: #fff;
                border-top-left-radius: @ticketPadding;
                border-bottom-left-radius: @ticketPadding;
                border-left: 1px dotted #ccc;
                display: flex;
                align-items: center;
                justify-content:center;
                flex-shrink: 0;
            }
        }

        .gotoUse{
            color: #ff6867;
            border:1px solid #ff6867;
            border-radius: 0.2rem;
            margin-top: 15px;
            font-size: 0.2rem;
            text-align: center;
            padding: 0.05rem;
        }
    }

    .commonImage {
		background-size: cover;
		height: 3.8rem;
		width: 100%;
    }
    
    .lotteryContainer{
        padding-top: 1rem;
        text-align: center;
        .lotteryTitle{
            width: 5rem;
            height: 2.5rem;
        }
        .lotteryContent{
            margin: auto;
            margin-top: -0.7rem;
        }

        .lotteryText{
            margin-top: 0.5rem;
            &>div:first-child{
                color: #f2df0c;
            }
        }
    }
    

    .pickUpCode{
        text-align: right;
        color: #ff6867;
        font-size: 0.5rem;
        font-weight: bold;
    }


    .everyLocationContainer{
        background-color: #fff;
        margin-bottom: 0.2rem;
    }
}

