.globalTabBar{
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
}

.childArea{
    overflow-x: hidden;
    overflow-y: auto;;
    .everyProduct{
        width: 43%;
        margin: 15px 0 0 5%;
        height: 350px;
        padding: 0.1rem;

        & .productImgArea{
            width: 100%;
            height: 300px;
            background-size: cover;
            border: 1px solid pink;
        }

        & .productDescription{
            width: 100%;
            text-align: center;
            margin-top: 3px;
            
        }
    }

    .tabItem{
        padding-bottom: 15px;
        display: flex;
        // align-items: center;
        flex-wrap: wrap;
        // justify-content: center;
        background-color: #fff;

        &:after{
            clear: both;
            content: '.';
            height: 0;
            visibility: hidden;
            display: block;
        }
    }

   
}

.wechatMy{
    .portraitArea{
        &>div:first-child{
            flex: 0.5 1 10%;
        }
        .portrait{
            width: 180px;
            height: 180px;
        }

        &>div:last-child{
            line-height: 1.8;
        }
        .nickName{
            font-size: 0.3rem;
            font-weight: bold;
        }
        .memberCode{
            color: #979797;
            font-size: 0.2rem;
        }
    }
    
}

.wechatOrder{
    .noOrder{
        width: 100%;
        text-align: center;
        padding-top: 0.5rem;

        & img{
            width: 160px;
            height: 270px;
        }

        &>div:last-child{
            padding-top: 0.5rem;
        }
    }
}